@model IEnumerable<DisciplinaModel>

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-3 w-100" >
        <h1>Disciplinas</h1>
        <a class="btn btn-outline-dark mx-2" asp-controller="Disciplina" asp-action="Cadastrar">Cadastrar nova disciplina</a>
    </div>

    <table class="table table-hover w-100">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Opções</th>
                <th scope="col" />
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var disciplina in Model)
                {
                    <tr>
                        <td>@disciplina.Nome</td>                       
                        <td>
                            <a asp-controller="Disciplina" asp-action="Editar" asp-route-id="@disciplina.Id" class="btn btn-outline-dark">Editar</a>
                            <a asp-controller="Perguntas" asp-action="ListarPorDisciplinaId" asp-route-id="@disciplina.Id" class="btn btn-outline-dark">Questões</a>
                            <a asp-controller="Perguntas" asp-action="Cadastrar" asp-route-id="@disciplina.Id" class="btn btn-outline-dark">Adicionar questões</a>
                            <a asp-controller="Disciplina" asp-action="Excluir" asp-route-id="@disciplina.Id" class="btn btn-outline-dark">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
